@import 'default';

$black: #000;
$white: #fff;
$mainBlack: #202020;
$orange:#fc543a;
$pink: #EF5DA8;
$blue:#0085FF;
$gray: #939393;
$lightgray: #e3e3e3;

#orange{
    background-color: $orange;
}
#black{
    background-color: $black;
}
#pink{
    background-color: $pink;
}
#blue{
    background-color: $blue;
}

@mixin font($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: $size;
}
@mixin button($color){
    border: 1px solid $color;
    color: $color;
    @include font(500);
    text-transform: uppercase;
    padding: 10px 0;
    background-color: transparent;
    font-size: 14px;
    transition: 0.5s;
    width: 40%;
    border-radius: 5px;
}
@mixin activeButton($color){
    @include button($color);
    background-color: $color;
    color: $white;
    cursor: pointer;
}
@mixin cover($height){
    position: relative;
    width: 100%;
    padding-top: $height;
    img, .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
%container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    &.orange{
        @include button($orange);
        &:hover{
            @include activeButton($orange);
        }
    }
    &.blue{
        @include button($blue);
        &:hover{
            @include activeButton($blue);
        }
    }
    &.white{
        @include button($white);
        &:hover{
            @include activeButton($white);
            color: $orange;
        }
    }
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
@import 'header';

section{
    margin-bottom: 60px;
}
.main{
    background-color: $orange;
    .wrapper{
        @extend %container;
        .block{
            width: 45%;
            .cover{
                @include cover(70%);
                img{
                    transform: scaleX(-1);
                }
            }
            h1{
                font-family: 'Permanent Marker';
                font-size: 56px;
                color: $white;
                margin-bottom: 25px;
            }
        }
    }
}
.category{
    .wrapper{
        .container{
            @extend %container;
            &:first-child{
                margin-bottom: 3.5%;
            }
            .category-card{
                width: 31%;
                transition: 0.2s;
                img{
                    transition: 0.2s;
                }
                h3{
                    transition: 0.2s;
                }
                &:hover{
                    cursor: pointer;
                    scale: 1.05;
                    h3{
                        text-shadow: 3px 3px 0 $orange;
                    }
                    img{
                        filter: blur(1px) saturate(0);
                    }
                }
                .cover{
                    @include cover(100%);
                    h3{
                        position:absolute;
                        z-index: 1;
                        @include font(900);
                        text-transform: uppercase;
                        bottom: 45%;
                        text-align: center;
                        width: 100%;
                        color: $white;
                        font-size: 24px;
                    }
                }
                &.big{
                    width: 65.5%;
                    .cover{
                        @include cover(47.5%);
                    }
                }
            }
        }
    }
}
.cards{
    h2{
        @include font(700);
        text-align: center;
        margin-bottom: 50px;
        font-size: 40px;
    }
    .sort{
        text-align: center;
        nav{
            margin-bottom: 40px;
            a{
                transition: 0.4s;
                @include font(500);
                color: $black;
                margin-right: 25px;
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    color: $orange;
                    border-bottom: 2px solid $orange;
                }
            }
        }
    }
    .container{
        @extend %container;
        flex-wrap: wrap;
        
        

    }
    .button{
        display: flex;
        justify-content: center;
        .btn{
            &.orange{
            color: $white;
            background-color: $orange;
            width: 23%;
            }
            &:hover{
                color: $orange;
                background-color: $white;
            }
        }
    }
}
.card{
    width: 31%;
    .cover{
        @include cover(100%);
        background-color: $lightgray;
        img{
            object-fit: contain;
            scale: 0.8;
            z-index: 2;
        }
        .circle{
            position: absolute;
            width: 60%;
            height: 60%;
            background-color: $white;
            border-radius: 100%;
            z-index: 1;
            top: 20%;
            left: 20%;
        }
    }
    .card-content{
        @include font(500);
        margin-top: 25px;
        margin-bottom: 40px;
        text-align: center;
        .price{
            margin-top: 10px;
        }
    }
}
@import 'footer';

.page-title{
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    h2{
        @include font(700);
        text-transform: uppercase;
        color: $white;
        font-size: 30px;
        margin-bottom: 16px;
    }
    .source{
        a,span{
            @include font(400);
            color: $white;
            text-transform: capitalize;
        }
    }
}

@import './pages-style/product';
@import './pages-style/cart';
@import './pages-style/order';